body {
  padding-left: 50px;
  font: 14px 'Varela', Helvetica, Arial, sans-serif;
}

html {
  background: url("/img/bg2.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.title {
  font-family: 'Varela';
  font-size: 30pt;
  color:white;
  position:relative;
  text-shadow: 2px 2px #5B5B5B;
}

.steps {
  text-align: center;
  font-size: 100pt;
  position: relative;
  top:110px;
  color: white;
  font-family: 'Varela';
  text-shadow: 3px 3px #5B5B5B;
}
.stepslabel {
  font-size: 28pt;
}

.km {
  color: white;
  text-align: center;
  font-size: 30pt;
  text-shadow: 2px 2px #5b5b5b;
}
