body {
  padding-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  background: url("/img/bg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.title {
  font-family: 'Duru Sans';
  font-size: 30pt;
  color:white;
  position:relative;
  /*top:-10px;*/
}

.center {
  text-align: center;
  font-size: 120pt;
  position: relative;
  top:110px;
  color: white;
  font-family: 'Duru Sans';
}
